interactions:
- request:
    body: '{"productCode": "?", "plannedShippingDateAndTime": "2026-10-13T00:00:00
      GMT+00:00", "pickup": {"isRequested": false}, "content": {"description": "N/A",
      "incoterm": "DAP", "unitOfMeasurement": "metric", "packages": [{"weight": 1.2,
      "dimensions": {"length": 10.0, "width": 10.0, "height": 10.0}, "customerReferences":
      [{"value": "Parcel 1", "typeCode": "CU"}]}], "isCustomsDeclarable": false},
      "outputImageProperties": {"encodingFormat": "pdf", "imageOptions": [{"typeCode":
      "label", "templateName": "ECOM26_64_002"}], "allDocumentsInOneImage": false,
      "splitTransportAndWaybillDocLabels": true, "receiptAndLabelsInOneImage": false},
      "accounts": [{"number": "xxxx", "typeCode": "shipper"}], "customerReferences":
      [{"value": "Ref1", "typeCode": "CU"}], "customerDetails": {"shipperDetails":
      {"postalAddress": {"postalCode": "69100", "cityName": "Villeurbanne", "countryCode":
      "FR", "addressLine1": "27 rue Henri Rolland", "addressLine2": "Batiment B"},
      "contactInformation": {"phone": "+33482538457", "mobilePhone": "+33482538457",
      "companyName": "Akretion", "fullName": "Akretion"}}, "receiverDetails": {"postalAddress":
      {"postalCode": "75004", "cityName": "Paris", "countryCode": "FR", "addressLine1":
      "6 Place des Vosges"}, "contactInformation": {"phone": "+33600000000", "mobilePhone":
      "+33600000000", "companyName": "Hugo Victor", "fullName": "Hugo Victor", "email":
      "hugo.victor@example.com"}}}}'
    headers:
      Content-Type:
      - application/json
      x-version:
      - 3.1.0
    method: POST
    uri: https://express.api.dhl.com/mydhlapi/test/shipments
  response:
    body:
      string: '{"instance":"\/expressapi\/shipments","detail":"8007: Error getting
        Product details from GREF","title":"Bad request","message":"Bad request","status":"400"}'
    headers:
      Content-Language:
      - eng
      Content-Type:
      - application/problem+json
      Invocation-Id:
      - 20261009132725_2f1b_cc1f7eb9-280a-4910-a878-c0eed8d00480
      Max-Forwards:
      - '20'
      Message-Reference:
      - 75a902d5-39bd-4f67-80cf-561a409acc5f
      X-CorrelationID:
      - 4f5609bc-e539-47b3-be62-dcdebb347972
    status:
      code: 400
      message: Bad Request
version: 1
