interactions:
- request:
    body: '{"productCode": "N", "plannedShippingDateAndTime": "2026-02-13T00:00:00
      GMT+00:00", "pickup": {"isRequested": false}, "content": {"description": "N/A",
      "incoterm": "DAP", "unitOfMeasurement": "metric", "packages": [{"weight": 0.0,
      "dimensions": {"length": 10, "width": 10, "height": 10}, "customerReferences":
      [{"value": "Parcel 1", "typeCode": "CU"}]}], "isCustomsDeclarable": false},
      "outputImageProperties": {"encodingFormat": "pdf", "imageOptions": [{"typeCode":
      "label", "templateName": "ECOM26_64_002"}], "allDocumentsInOneImage": false,
      "splitTransportAndWaybillDocLabels": true, "receiptAndLabelsInOneImage": false},
      "accounts": [{"number": "xxxx", "typeCode": "shipper"}], "customerReferences":
      [{"value": "Ref1", "typeCode": "CU"}], "customerDetails": {"shipperDetails":
      {"postalAddress": {"postalCode": "69100", "cityName": "Villeurbanne", "countryCode":
      "FR", "addressLine1": "27 rue Henri Rolland", "addressLine2": "Batiment B"},
      "contactInformation": {"phone": "+33482538457", "mobilePhone": "+33482538457",
      "companyName": "Akretion", "fullName": "Akretion"}}, "receiverDetails": {"postalAddress":
      {"postalCode": "75004", "cityName": "Paris", "countryCode": "FR", "addressLine1":
      "6 Place des Vosges"}, "contactInformation": {"phone": "+33600000000", "mobilePhone":
      "+33600000000", "companyName": "Hugo", "fullName": "Hugo", "email": "hugo.victor@example.com"}}}}'
    headers:
      Content-Type:
      - application/json
      x-version:
      - 3.1.0
    method: POST
    uri: https://express.api.dhl.com/mydhlapi/test/shipments
  response:
    body:
      string: '{"instance":"\/expressapi\/shipments","detail":"#\/content\/packages\/0\/weight:
        0.0 is not greater or equal to 0.001","title":"Validation error","message":"Unprocessable
        Entity","status":"422"}'
    headers:
      Content-Language:
      - eng
      Content-Type:
      - application/problem+json
      Invocation-Id:
      - 20260213160937_2f1b_2dd3116e-90e7-4431-bf20-6d0d127167b8
      Max-Forwards:
      - '20'
      Message-Reference:
      - e9fcc342-cdfa-466c-8622-65ecb094fe76
      X-CorrelationID:
      - Id-c14c8f692388310b7a5c886b 0
    status:
      code: 422
      message: ''
version: 1
