interactions:
- request:
    body: '{"productCode": "?", "plannedShippingDateAndTime": "2026-02-13T00:00:00
      GMT+00:00", "pickup": {"isRequested": false}, "content": {"description": "N/A",
      "incoterm": "DAP", "unitOfMeasurement": "metric", "packages": [{"weight": 1.2,
      "dimensions": {"length": 10, "width": 10, "height": 10}, "customerReferences":
      [{"value": "Parcel 1", "typeCode": "CU"}]}], "isCustomsDeclarable": false},
      "outputImageProperties": {"encodingFormat": "pdf", "imageOptions": [{"typeCode":
      "label", "templateName": "ECOM26_64_002"}], "allDocumentsInOneImage": false,
      "splitTransportAndWaybillDocLabels": true, "receiptAndLabelsInOneImage": false},
      "accounts": [{"number": "xxxx", "typeCode": "shipper"}], "customerReferences":
      [{"value": "Ref1", "typeCode": "CU"}], "customerDetails": {"shipperDetails":
      {"postalAddress": {"postalCode": "69100", "cityName": "Villeurbanne", "countryCode":
      "FR", "addressLine1": "27 rue Henri Rolland", "addressLine2": "Batiment B"},
      "contactInformation": {"phone": "+33482538457", "mobilePhone": "+33482538457",
      "companyName": "Akretion", "fullName": "Akretion"}}, "receiverDetails": {"postalAddress":
      {"postalCode": "75004", "cityName": "Paris", "countryCode": "FR", "addressLine1":
      "6 Place des Vosges"}, "contactInformation": {"phone": "+33600000000", "mobilePhone":
      "+33600000000", "companyName": "Hugo", "fullName": "Hugo", "email": "hugo.victor@example.com"}}}}'
    headers:
      Content-Type:
      - application/json
      x-version:
      - 3.1.0
    method: POST
    uri: https://express.api.dhl.com/mydhlapi/test/shipments
  response:
    body:
      string: '{"instance":"\/expressapi\/shipments","detail":"8007: Error getting
        Product details from GREF","title":"Bad request","message":"Bad request","status":"400"}'
    headers:
      Content-Language:
      - eng
      Content-Type:
      - application/problem+json
      Invocation-Id:
      - 20260213160937_2f1b_d47d6a51-a911-4695-9d53-bf96ec0443ca
      Max-Forwards:
      - '20'
      Message-Reference:
      - 1f1e00e3-ee44-4c6a-97ac-f3bdff51d69b
      X-CorrelationID:
      - Id-c14c8f69df848dc4f0db37ff 0
    status:
      code: 400
      message: ''
version: 1
