interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mondialrelay.com/Web_Services.asmx?WSDL
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.mondialrelay.fr/webservice/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://www.mondialrelay.fr/webservice/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.mondialrelay.fr/webservice/\">\r\n
        \     <s:element name=\"WSI2_CreationExpedition\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Enseigne\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"ModeCol\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ModeLiv\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"NDossier\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"NClient[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns="http://www.mondialrelay.fr/webservice/"><soap-env:Body><WSI4_PointRelais_Recherche><Enseigne>BDTEST13</Enseigne><Pays>FR</Pays><CP>69100</CP><NombreResultats
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><Security>0DD525D45E2907B422B4EA8D79C38D8B</Security></WSI4_PointRelais_Recherche></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.mondialrelay.fr/webservice/WSI4_PointRelais_Recherche"'
    method: POST
    uri: https://api.mondialrelay.com/Web_Services.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><WSI4_PointRelais_RechercheResponse
        xmlns="http://www.mondialrelay.fr/webservice/"><WSI4_PointRelais_RechercheResult><STAT>0</STAT><PointsRelais><PointRelais_Details><STAT
        /><Num>026291</Num><LgAdr1>EPICERIE FLACHET VILLEURBANNE  </LgAdr1><LgAdr2
        /><LgAdr3>36 RUE FLACHET                 </LgAdr3><LgAdr4 /><CP>69100</CP><Ville>VILLEURBANNE              </Ville><Pays>FR</Pays><Localisation1
        /><Localisation2 /><Latitude>45,7685680</Latitude><Longitude>04,8895710</Longitude><TypeActivite>000</TypeActivite><Information
        /><Horaires_Lundi><string>0900</string><string>2000</string><string>0000</string><string>0000</string></Horaires_Lundi><Horaires_Mardi><string>0900</string><string>2000</string><string>0000</string><string>0000</string></Horaires_Mardi><Horaires_Mercredi><string>0900</string><string>2000</string><string>0000</string><string>0000</string></Horaires_Mercredi><Horaires_Jeudi><string>0900</string><string>2000</string><string>0000</string><string>0000</string></Horaires_Jeudi><Horaires_Vendredi><string>0900</string><string>1100</string><string>1600</string><string>2000</string></Horaires_Vendredi><Horaires_Samedi><string>1000</string><string>2000</string><string>0000</string><string>0000</string></Horaires_Samedi><Horaires_Dimanche><string>0000</string><string>0000</string><string>0000</string><string>0000</string></Horaires_Dimanche><Informations_Dispo
        /><URL_Photo>https://ww2.mondialrelay.com/public/permanent/photo_relais.aspx?ens=CC______41&amp;num=026291&amp;pays=FR&amp;crc=4E9334B8088E030B704709BAD3A2F8AF</URL_Photo><URL_Plan>https://ww2.mondialrelay.com/public/permanent/plan_relais.aspx?ens=BDTEST1311&amp;num=026291&amp;pays=FR&amp;crc=1CBEF8276C2F88FB3AFF963B2D1CD1A0</URL_Plan><Distance>889</Distance></PointRelais_Details><PointRelais_Details><STAT
        /><Num>027304</Num><LgAdr1>MON COIN COUTURE VILLEURBANNE  </LgAdr1><LgAdr2
        /><LgAdr3>283 COURS EMILE-ZOLA           </LgAdr3><LgAdr4 /><CP>69100</CP><Ville>VILLEURBANNE              </Ville><Pays>FR</Pays><Localisation1
        /><Localisation2 /><Latitude>45,7675164</Latitude><Longitude>04,8914718</Longitude><TypeActivite>000</TypeActivite><Information
        /><Horaires_Lundi><string>1000</string><string>1200</stri[...]
