interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mondialrelay.com/Web_Services.asmx?WSDL
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.mondialrelay.fr/webservice/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://www.mondialrelay.fr/webservice/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.mondialrelay.fr/webservice/\">\r\n
        \     <s:element name=\"WSI2_CreationExpedition\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Enseigne\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"ModeCol\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ModeLiv\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"NDossier\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"NClient[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns="http://www.mondialrelay.fr/webservice/"><soap-env:Body><WSI4_PointRelais_Recherche><Enseigne>BDTEST13</Enseigne><Pays>FR</Pays><CP>69100</CP><NombreResultats
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><Security>B92B23556C301E4A5D56F79566107A48</Security></WSI4_PointRelais_Recherche></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.mondialrelay.fr/webservice/WSI4_PointRelais_Recherche"'
    method: POST
    uri: https://api.mondialrelay.com/Web_Services.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><WSI4_PointRelais_RechercheResponse
        xmlns="http://www.mondialrelay.fr/webservice/"><WSI4_PointRelais_RechercheResult><STAT>0</STAT><PointsRelais><PointRelais_Details><STAT
        /><Num>005680</Num><LgAdr1>BUREAU COPY                    </LgAdr1><LgAdr2
        /><LgAdr3>31 COURS ANDRE PHILIP          </LgAdr3><LgAdr4 /><CP>69100</CP><Ville>VILLEURBANNE              </Ville><Pays>FR</Pays><Localisation1
        /><Localisation2 /><Latitude>45,7728450</Latitude><Longitude>04,8630410</Longitude><TypeActivite>000</TypeActivite><Information
        /><Horaires_Lundi><string>0900</string><string>1230</string><string>1400</string><string>1830</string></Horaires_Lundi><Horaires_Mardi><string>0900</string><string>1230</string><string>1400</string><string>1830</string></Horaires_Mardi><Horaires_Mercredi><string>0900</string><string>1230</string><string>1400</string><string>1830</string></Horaires_Mercredi><Horaires_Jeudi><string>0900</string><string>1230</string><string>1400</string><string>1830</string></Horaires_Jeudi><Horaires_Vendredi><string>0900</string><string>1230</string><string>1400</string><string>1830</string></Horaires_Vendredi><Horaires_Samedi><string>0930</string><string>1300</string><string>0000</string><string>0000</string></Horaires_Samedi><Horaires_Dimanche><string>0000</string><string>0000</string><string>0000</string><string>0000</string></Horaires_Dimanche><Informations_Dispo
        /><URL_Photo>https://ww2.mondialrelay.com/public/permanent/photo_relais.aspx?ens=CC______41&amp;num=005680&amp;pays=FR&amp;crc=6E33CF14B9167BD8C11824D7E6692593</URL_Photo><URL_Plan>https://ww2.mondialrelay.com/public/permanent/plan_relais.aspx?ens=BDTEST1311&amp;num=005680&amp;pays=FR&amp;crc=EEC2483BB8957499130C57B7FD62388F</URL_Plan><Distance>1739</Distance></PointRelais_Details><PointRelais_Details><STAT
        /><Num>030613</Num><LgAdr1>ENI 69100 VILLEURBANNE         </LgAdr1><LgAdr2
        /><LgAdr3>112 B RUE LEON BLUM            </LgAdr3><LgAdr4 /><CP>69100</CP><Ville>VILLEURBANNE              </Ville><Pays>FR</Pays><Localisation1
        /><Localisation2 /><Latitude>45,7602030</Latitude><Longitude>04,9015492</Longitude><TypeActivite>000</TypeActivite><Information>LOCKER</Information><Horaires_Lundi><string>0001</string><string>2359</string><string>0000</string><string>0000</string></Horaires_Lundi><Horaires_Mardi><string>0001</string><string>2359</string><string>0000</string><string>0000</string></Horaires_Mardi><Horaires_Mercredi><string>0001</string><string>2359</string><string>0000</string><string>0000</string></Horaires_Mercredi><Horaires_Jeudi><string>0001</string><string>2359</string><string>0000</string><string>0000</string></Horaires_Jeudi><Horai[...]
- request:
    body: null
    headers:
      Upgrade:
      - websocket
    method: GET
    uri: http://localhost:59999/back/arkt14s__39581--140239800653632
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - websocket
    status:
      code: 101
      message: Switching Protocols
version: 1
