interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mondialrelay.com/Web_Services.asmx?WSDL
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.mondialrelay.fr/webservice/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://www.mondialrelay.fr/webservice/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.mondialrelay.fr/webservice/\">\r\n
        \     <s:element name=\"WSI2_CreationExpedition\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Enseigne\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"ModeCol\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ModeLiv\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"NDossier\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"NClient[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns="http://www.mondialrelay.fr/webservice/"><soap-env:Body><WSI2_CreationEtiquette><Enseigne>BDTEST13</Enseigne><ModeCol>REL</ModeCol><ModeLiv>HOM</ModeLiv><Expe_Langage>FR</Expe_Langage><Expe_Ad1>Akretion</Expe_Ad1><Expe_Ad3>27
      rue Henri Rolland</Expe_Ad3><Expe_Ad4>Batiment B</Expe_Ad4><Expe_Ville>Villeurbanne</Expe_Ville><Expe_CP>69100</Expe_CP><Expe_Pays>FR</Expe_Pays><Expe_Tel1>+33482538457</Expe_Tel1><Dest_Langage>FR</Dest_Langage><Dest_Ad1>Hugo</Dest_Ad1><Dest_Ad3>6
      Place des Vosges</Dest_Ad3><Dest_Ville>Paris</Dest_Ville><Dest_CP>75004</Dest_CP><Dest_Pays>FR</Dest_Pays><Dest_Tel1>+33600000000</Dest_Tel1><Dest_Mail>hugo.victor@example.com</Dest_Mail><Poids>1200</Poids><NbColis>1</NbColis><CRT_Valeur>0</CRT_Valeur><CRT_Devise>EUR</CRT_Devise><Exp_Devise>EUR</Exp_Devise><COL_Rel_Pays>FR</COL_Rel_Pays><COL_Rel>AUTO</COL_Rel><Security>635B5C88EFFFF7FCB5A0853001C63A2C</Security></WSI2_CreationEtiquette></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.mondialrelay.fr/webservice/WSI2_CreationEtiquette"'
    method: POST
    uri: https://api.mondialrelay.com/Web_Services.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><WSI2_CreationEtiquetteResponse
        xmlns="http://www.mondialrelay.fr/webservice/"><WSI2_CreationEtiquetteResult><STAT>0</STAT><ExpeditionNum>50554859</ExpeditionNum><URL_Etiquette>/ww2/PDF/StickerMaker2.aspx?ens=BDTEST1311&amp;expedition=50554859&amp;lg=FR&amp;format=A4&amp;crc=C4530F968E6E507C379C538C5E36EC76</URL_Etiquette></WSI2_CreationEtiquetteResult></WSI2_CreationEtiquetteResponse></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
