interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://e-station-testenv.cargonet.software/eprintwebservice/eprintwebservice.asmx?WSDL
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://www.cargonet.software\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://www.cargonet.software\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.cargonet.software\">\r\n
        \     <s:element name=\"isAlive\">\r\n        <s:complexType />\r\n      </s:element>\r\n
        \     <s:element name=\"isAliveResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"isAliveResult\" type=\"s:boolean\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"setAlive\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"value\" type=\"s:boolean\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"setAliveResponse\">\r\n
        \       <s:complexType />\r\n      </s:element>\r\n      <s:element name=\"UserCredentials\"
        type=\"tns:UserCredentials\" />\r\n      <s:complexType name=\"UserCredentials\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"userid\" type=\"s:string\" />\r\n          <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"password\" type=\"s:string\" />\r\n        </s:sequence>\r\n
        \       <s:anyAttribute />\r\n      </s:complexType>\r\n      <s:element name=\"VerifyConfiguration\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"request\" type=\"tns:VerifyConfigurationRequest\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"VerifyConfigurationRequest\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"customer\" type=\"tns:Customer\"
        />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ip\" type=\"s:string\"
        />\r\n        </s:sequence>\r\n      </s:complexType>\r\n      <s:complexType
        name=\"Customer\">\r\n        <s:complexContent mixed=\"false\">\r\n          <s:extension
        base=\"tns:CustomerSmall\">\r\n            <s:sequence>\r\n              <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"countrycode\" type=\"s:int\" />\r\n
        \           </s:sequence>\r\n          </s:extension>\r\n        </s:complexContent>\r\n
        \     </s:complexType>\r\n      <s:complexType name=\"CustomerSmall\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"ce[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns=\"http://www.cargonet.software\"><soap-env:Header><UserCredentials><userid>xxxx</userid><password>xxxx</password></UserCredentials></soap-env:Header><soap-env:Body><CreateShipmentWithLabelsBc><request><receiveraddress><countryPrefix>FR</countryPrefix><zipCode>75004</zipCode><city>Paris</city><street>6
      Place des V\xF4sges</street><name>H\xFCg\u01D2</name><phoneNumber>+33600000000</phoneNumber></receiveraddress><receiverinfo/><shipperaddress><countryPrefix>FR</countryPrefix><zipCode>69100</zipCode><city>Villeurbanne</city><street>27
      rue Henri Rolland, Batiment B</street><name>Akr\xE9tion</name><phoneNumber>+33482538457</phoneNumber></shipperaddress><shipperinfo/><customer_countrycode>xxxx</customer_countrycode><customer_centernumber>xxxx</customer_centernumber><customer_number>xxxx</customer_number><shippingdate>01/01/2025</shippingdate><services><contact><sms>+33600000000</sms><email>hugo.victor@example.com</email><type>No</type></contact></services><weight>1.2</weight><reference2>Parcel
      1</reference2><labelType><type>PDF</type></labelType><refnrasbarcode>false</refnrasbarcode><referenceInBarcode><type>Reference2</type></referenceInBarcode></request></CreateShipmentWithLabelsBc></soap-env:Body></soap-env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cargonet.software/CreateShipmentWithLabelsBc"'
    method: POST
    uri: https://e-station-testenv.cargonet.software/eprintwebservice/eprintwebservice.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><soap:Fault><faultcode>soap:Server</faultcode><faultstring>Permission
        denied</faultstring><detail><Error><ErrorId>PermissionDenied</ErrorId><ErrorMessage>Permission
        denied</ErrorMessage></Error></detail></soap:Fault></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
version: 1
