interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://secure.extranet.ciblex.fr/extranet/test/label.php?date_ramasse=16%2F05%2F2025&dest_adr1=%2B33600000000&dest_adr2=6+Place+des+Vosges&dest_cp=75004&dest_email=hugo.victor%40example.com&dest_nom=Hugo+Victor&dest_pays=FR&dest_tel=%2B33600000000&dest_ville=Paris&exp_adr1=%2B33482538457&exp_adr2=27+rue+Henri+Rolland&exp_adr3=Batiment+B&exp_cp=69100&exp_nom=Akretion&exp_pays=FR&exp_tel=%2B33482538457&exp_ville=Villeurbanne&imp_therm_init=O&label_type=STD&logo=N&output=EPL&poids=1.2&ref1=Parcel+1
  response:
    body:
      string: '<?xml version=''1.0'' encoding=''ISO-8859-1''?>

        <labels>

        <label><cb>04282000014609</cb><epl>

        N

        q784

        Q1184,32

        S4

        D8

        ZT

        TTh:m

        TDy2.mn.dd

        OD

        A400,1120,2,2,1,1,R,"API XML EPL"

        A470,1100,2,1,1,1,N,""

        B72,0,0,1,3,3,160,B,"04282000014609"

        A218,1059,3,3,2,1,N,"Hugo Victor"

        A258,1059,3,3,2,1,N,"33600000000"

        A298,1059,3,3,2,1,N,"6 Place des Vosges"

        A338,1059,3,3,2,1,N,""

        A378,1059,3,3,2,1,N,""

        A418,1059,3,3,2,1,N,"75004 Paris"

        A485,1047,3,4,7,6,N,"FR 75"

        A525,663,3,4,6,6,N,""

        A694,1108,3,2,1,1,N,"Ref1[...]
