interactions:
- request:
    body: '{"generateBordereauParcelNumberList": {"parcelsNumbers": ["unknown", "missing"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ws.colissimo.fr/sls-ws/SlsServiceWSRest/2.0/generateBordereauByParcelsNumbers
  response:
    body:
      string: "\r\n--uuid:45ad91f0-d9d7-41ea-9fa4-99739ceecb02\r\nContent-Type: application/json;charset=UTF-8\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <jsonInfos>\r\n\r\n{\"messages\":[{\"id\":\"50031\",\"type\":\"ERROR\",\"messageContent\":\"Num\xE9ro
        de colis invalide unknown\"}],\"bordereauHeader\":null}\r\n--uuid:45ad91f0-d9d7-41ea-9fa4-99739ceecb02--"
    headers:
      Content-Type:
      - multipart/related; type="application/json"; boundary="uuid:45ad91f0-d9d7-41ea-9fa4-99739ceecb02";
        start="<jsonInfos>"
    status:
      code: 400
      message: ''
version: 1
