interactions:
- request:
    body: '{"generateBordereauParcelNumberList": {"parcelsNumbers": ["unknown", "missing"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ws.colissimo.fr/sls-ws/SlsServiceWSRest/2.0/generateBordereauByParcelsNumbers
  response:
    body:
      string: "\r\n--uuid:f61aa9cd-7c3a-4dc2-9d6d-bc262e56d445\r\nContent-Type: application/json;charset=UTF-8\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <jsonInfos>\r\n\r\n{\"messages\":[{\"id\":\"50031\",\"type\":\"ERROR\",\"messageContent\":\"Num\xE9ro
        de colis invalide unknown\"}],\"bordereauHeader\":null}\r\n--uuid:f61aa9cd-7c3a-4dc2-9d6d-bc262e56d445--"
    headers:
      Content-Type:
      - multipart/mixed;boundary="uuid:f61aa9cd-7c3a-4dc2-9d6d-bc262e56d445";charset=UTF-8
    status:
      code: 400
      message: ''
version: 1
