interactions:
- request:
    body: '{"outputFormat": {"x": 0, "y": 0, "outputPrintingType": "PDF_10x15_300dpi",
      "dematerialized": false, "returnType": null, "printCoDDocument": false}, "letter":
      {"service": {"productCode": "DOM", "depositDate": "2025-04-01", "mailBoxPicking":
      false, "mailBoxPickingDate": null, "vatCode": null, "vatPercentage": null, "vatAmount":
      null, "transportationAmount": null, "totalAmount": null, "orderNumber": null,
      "commercialName": null, "returnTypeChoice": null, "reseauPostal": null}, "parcel":
      {"pickupLocationId": null, "parcelNumber": null, "insuranceAmount": null, "insuranceValue":
      null, "recommendationLevel": null, "weight": 1.2, "nonMachinable": false, "returnReceipt":
      false, "instructions": null, "ftd": false, "ddp": false, "disabledDeliveryBlockingCode":
      null, "cod": false, "codamount": null, "codcurrency": null}, "sender": {"senderParcelRef":
      null, "address": {"companyName": null, "lastName": "Akretion", "firstName":
      null, "line0": "Batiment B", "line1": null, "line2": "27 rue Henri Rolland",
      "line3": null, "countryCode": "FR", "city": "Villeurbanne", "zipCode": "69100",
      "phoneNumber": null, "mobileNumber": "+33482538457", "doorCode1": null, "doorCode2":
      null, "intercom": null, "email": null, "language": "FR", "stateOrProvinceCode":
      null}}, "addressee": {"addresseeParcelRef": null, "codeBarForReference": null,
      "serviceInfo": null, "promotionCode": null, "address": {"companyName": null,
      "lastName": "Hugo", "firstName": "Victor", "line0": null, "line1": null, "line2":
      "6 Place des Vosges", "line3": null, "countryCode": "FR", "city": "Paris", "zipCode":
      "99999", "phoneNumber": null, "mobileNumber": "+33600000000", "doorCode1": null,
      "doorCode2": null, "intercom": null, "email": "hugo.victor@example.com", "language":
      "FR", "stateOrProvinceCode": null}}, "codSenderAddress": null, "customsDeclarations":
      null}, "fields": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ws.colissimo.fr/sls-ws/SlsServiceWSRest/2.0/checkGenerateLabel
  response:
    body:
      string: '{"messages":[{"id":"30213","type":"ERROR","messageContent":"Le code
        pays ou le code postal du destinataire est incorrect pour le code produit
        fourni","replacementValues":[]}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 400
      message: ''
version: 1
