interactions:
- request:
    body: '{"password": "xxxx", "address": "27 rue Henri Rolland", "zipCode": "69100",
      "city": "Villeurbanne", "countryCode": "FR", "weight": null, "filterRelay":
      "0", "lang": "FR", "optionInter": "0", "shippingDate": "01/04/2025", "accountNumber":
      "xxxx"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ws.colissimo.fr/pointretrait-ws-cxf/rest/v2/pointretrait/findRDVPointRetraitAcheminement
  response:
    body:
      string: '{"errorCode":0,"errorMessage":"Code retour OK","qualiteReponse":2,"wsRequestId":"a381e54713266f93ced4485cc4279a86cd63ba0571b45f7782f6b4f959956204","listePointRetraitAcheminement":[{"identifiant":"060567","nom":"BUREAU
        DE POSTE VILLEURBANNE BELLECOMBE RP","adresse1":"13 RUE BELLECOMBE","adresse2":"CARREFOUR
        CITY","adresse3":"","codePostal":"69100","localite":"VILLEURBANNE","indiceDeLocalisation":"","coordGeolocalisationLatitude":"45.7695505","coordGeolocalisationLongitude":"4.86314559","accesPersonneMobiliteReduite":false,"horairesOuvertureLundi":"07:00-21:00
        00:00-00:00","horairesOuvertureMardi":"07:00-21:00 00:00-00:00","horairesOuvertureMercredi":"07:00-21:00
        00:00-00:00","horairesOuvertureJeudi":"07:00-21:00 00:00-00:00","horairesOuvertureVendredi":"07:00-21:00
        00:00-00:00","horairesOuvertureSamedi":"07:00-21:00 00:00-00:00","horairesOuvertureDimanche":"00:00-00:00
        00:00-00:00","periodeActiviteHoraireDeb":"10/03","periodeActiviteHoraireFin":"13/06","listeConges":[{"numero":5,"calendarDeDebut":1749420000000,"calendarDeFin":1749420000000},{"numero":4,"calendarDeDebut":1748469600000,"calendarDeFin":1748469600000},{"numero":3,"calendarDeDebut":1746655200000,"calendarDeFin":1746655200000},{"numero":2,"calendarDeDebut":1746050400000,"calendarDeFin":1746050400000},{"numero":1,"calendarDeDebut":1745186400000,"calendarDeFin":1745186400000}],"typeDePoint":"BPR","poidsMaxi":30000,"distanceEnMetre":172,"congesPartiel":false,"congesTotal":false,"reseau":"R01","codePays":"FR","libellePays":"FRANCE","langue":"FR","parking":false,"loanOfHandlingTool":false,"distributionSort":"","lotAcheminement":"","versionPlanTri":""},{"identifiant":"699370","nom":"BUREAU
        DE POSTE VILLEURBANNE LES CHARPENNES","adresse1":"38 COURS EMILE ZOLA","adresse2":"","adresse3":"","codePostal":"69100","localite":"VILLEURBANNE","indiceDeLocalisation":"","coordGeolocalisationLatitude":"45.770698","coordGeolocalisationLongitude":"4.866231","accesPersonneMobiliteReduite":true,"horairesOuvertureLundi":"09:00-12:00
        14:00-18:00","horairesOuvertureMardi":"09:00-12:00 14:00-18:00","horairesOuvertureMercredi":"09:00-12:00
     [...]
