interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\">\n\t<soap:Header>\n\t\t<imp:authenticationInfo
      xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\">\n\t<imp:userName>account_test_number</imp:userName>\n\t<imp:password>123456789101</imp:password>
      \n</imp:authenticationInfo>\n\t</soap:Header>\n\t<soap:Body>\n\t\t<imp:findLocalite
      xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\">\n  <imp:codePays>FR</imp:codePays>\n
      \ <imp:codePostal>59100</imp:codePostal>\n  <imp:libelle>Villeurbanne</imp:libelle>\n</imp:findLocalite>\n\n\t</soap:Body>\n</soap:Envelope>"
    headers:
      SOAPAction:
      - <SOAP Action>
      content-type:
      - text/xml
    method: POST
    uri: https://espace-rct.geodis.com/geolabel/services/RechercherLocalite
  response:
    body:
      string: "--MIMEBoundary_a73599f2fbb7c3a47b3a8efa180b26ff7d4943f006c90664\r\nContent-Type:
        text/xml; charset=UTF-8\r\nContent-Transfer-Encoding: binary\r\nContent-ID:
        <0.573599f2fbb7c3a47b3a8efa180b26ff7d4943f006c90664@apache.org>\r\n\r\n<?xml
        version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header/><soapenv:Body><ns1:findLocaliteResponse
        xmlns:ns1=\"http://localite.service.web.etiquette.geodis.com\"><ns1:infoLocalite><ns1:numOrdre>24998</ns1:numOrdre><ns1:codeRegion>59</ns1:codeRegion><ns1:codePostal>59100</ns1:codePostal><ns1:libelle>ROUBAIX</ns1:libelle></ns1:infoLocalite></ns1:findLocaliteResponse></soapenv:Body></soapenv:Envelope>\r\n--MIMEBoundary_a73599f2fbb7c3a47b3a8efa180b26ff7d4943f006c90664--\r\n"
    headers:
      Content-Type:
      - multipart/related; boundary="MIMEBoundary_a73599f2fbb7c3a47b3a8efa180b26ff7d4943f006c90664";
        type="text/xml"; start="<0.573599f2fbb7c3a47b3a8efa180b26ff7d4943f006c90664@apache.org>"
    status:
      code: 200
      message: OK
version: 1
